<div class="__container_value_selector">
  <div class="value_selector_title_and_stallments">
    <strong>{{title}}</strong>
    <div class="parcelamento">
      <span>Parcelas</span>
      <input
        type="number"
        class="selector_input_legend"
        id="parcelas"
        [(ngModel)]="option"
        (ngModelChange)="calculateInstallment()"
      >
      <input
        class="selector_input_value"
        id="mid"
        [(ngModel)]="installment"
        disabled = true
        >
        <input
        class="selector_input_value"
        [(ngModel)]="cubInstallment"
        disabled = true
        >
    </div>
  </div>
  <app-value-selector
    [cubValue]="cubValue"
    [(totalAmount)]="totalAmount"
    [(percentage)]="percentage"
    maxPercentage={{maxPercentage}}
    ValueBarNgIf={{ValueBarNgIf}}
    ValueStatusDisabled={{ValueStatusDisabled}}
  />
</div>
