<div class="__container_calculator">
  <div class="_calculator_value_manager">
    <div class="_calculator_cub_selector">
      <span>Período CUB</span>
      <div>
        <select
        [(ngModel)]="cubValueGlobal"
        (ngModelChange)="calculateCubInProperty()">
          <option
            *ngFor="let data of cubList; let i = index"
            [value]="data.Valor"
            [selected]="i === 0">
            {{data.Periodo}}
          </option>
        </select>
        <input value={{cubValueGlobal}} disabled="true">
      </div>
    </div>

    <div class="_calculator_property_value">
      <div>
        <span>Valor Propriedade</span>
        <input type="number" [(ngModel)]="propertyValue" (ngModelChange)="calculateCubInProperty()">
      </div>
      <div>
      <span>Cub Propriedade</span>
      <input type="number" [(ngModel)]="cubPropertyValue" (ngModelChange)="calculatePropertyInCub()" step="0.01">
      </div>
    </div>
  </div>
    <app-value-selector
      title="Entrada"
      [cubValue]="cubValueGlobal"
      [(percentage)]="entryValuePercentage"
      maxPercentage={{(entryValuePercentage+deliveryKeysPercentage)}}
      [(totalAmount)]="propertyValue"
    />
    <app-value-selector-installments
    title="Parcelas"
    [cubValue]="cubValueGlobal"
    [(percentage)]="installmentPercentage"
    [(totalAmount)]="propertyValue"
    [(multiplier)]="installmentsMultiplyer"
    maxPercentage={{(installmentPercentage+deliveryKeysPercentage)}}
  />
  <app-value-selector-installments
    title="Balões"
    [cubValue]="cubValueGlobal"
    [(percentage)]="annualInstallmentsPercentage"
    [(totalAmount)]="propertyValue"
    [(multiplier)]="annualinstallmentsMultiplyer"
    maxPercentage={{(annualInstallmentsPercentage+deliveryKeysPercentage)}}
  />
  <app-value-selector
    title="Entrega das Chaves"
    [cubValue]="cubValueGlobal"
    [(percentage)]="deliveryKeysPercentage"
    [(totalAmount)]="propertyValue"
    [ValueBarNgIf]='false'
    [ValueStatusDisabled]="true"
    />
</div>
