._calculator_cub_selector{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

._calculator_property_value{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
._calculator_property_value >div{
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
}

hr{
  margin: 1rem;
}

._calculator_cub_selector > div > select{
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(112, 112, 112);
  border-right: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 0.5rem;
  height: 1.75rem;
}

._calculator_cub_selector > div > input{
  text-align: center;
  background-color: white;
  border: 2px solid rgb(112, 112, 112);
  border-left: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 0.5rem;
  height: 1.5rem;
}
