._calculator_cub_selector{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

._calculator_cub_selector > div > select{
  height: 24px;
}

._calculator_property_value{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

._calculator_property_value > div > span{
  width: 8rem
}

._calculator_property_value > div > input{
  width: 8rem
}

._calculator_property_value > div{
  display: flex;
  justify-content: center
}

hr{
  margin: 1rem;
}
