<div class="__container_calculator">
  <div class="_calculator_value_manager">
    <div class="_calculator_cub_selector">
      <span>Período CUB</span>
      <div>
        <select
        class="selector_input_legend"
        [(ngModel)]="cubValueGlobal"
        (ngModelChange)="calculateCubInProperty()">
          <option
            *ngFor="let data of cubList; let i = index"
            [value]="data.Valor"
            [selected]="i === 0">
            {{data.Periodo}}
          </option>
        </select>
        <input class="selector_input_value" value={{cubValueGlobal}} disabled="true">
      </div>
    </div>

    <div class="_calculator_property_value">
      <div>
        <span class="selector_input_legend">Valor Propriedade</span>
        <input class="selector_input_value" type="number" [(ngModel)]="propertyValue" (ngModelChange)="calculateCubInProperty()">
      </div>
      <div>
      <span class="selector_input_legend">Cub Propriedade</span>
      <input class="selector_input_value" type="number" [(ngModel)]="cubPropertyValue" (ngModelChange)="calculatePropertyInCub()" step="0.01">
      </div>
    </div>
  </div>
    <app-value-selector
      title="Entrada"
      [cubValue]="cubValueGlobal"
      [(percentage)]="entryValuePercentage"
      maxPercentage={{(entryValuePercentage+deliveryKeysPercentage)}}
      [(totalAmount)]="propertyValue"
    />
    <hr>
    <app-value-selector-installments
    title="Parcelas"
    [cubValue]="cubValueGlobal"
    [(percentage)]="installmentPercentage"
    [(totalAmount)]="propertyValue"
    [multiplier]="10"
    maxPercentage={{(installmentPercentage+deliveryKeysPercentage)}}
    />
    <hr>
    <app-value-selector-installments
    title="Balões"
    [cubValue]="cubValueGlobal"
    [(percentage)]="annualInstallmentsPercentage"
    [(totalAmount)]="propertyValue"
    maxPercentage={{(annualInstallmentsPercentage+deliveryKeysPercentage)}}
    />
    <hr>
    <app-value-selector
    title="Entrega das Chaves"
    [cubValue]="cubValueGlobal"
    [(percentage)]="deliveryKeysPercentage"
    [(totalAmount)]="propertyValue"
    [ValueBarNgIf]='false'
    [ValueStatusDisabled]="true"
    />
</div>
