<div class="__container_value_selector">
  <strong>{{title}}</strong>
  <div class="value_selector">
    <div class="value_selector_inputs">
      <input
        type="number"
        step="0.01"
        [(ngModel)]="percentage"
        max=100
        disabled={{ValueStatusDisabled}}
      />
      <input
        class="value_selector_input"
        type="number"
        step="0,01"
        [(ngModel)]="installmentValue"
        (ngModelChange)="calculatePercentage()"
        disabled={{ValueStatusDisabled}}
      />
    </div>
    <input
      class="value_selector_range"
      type="range"
      *ngIf="ValueBarNgIf"
      [(ngModel)]="percentage"
      max={{maxPercentage}}
    />
  </div>
</div>
