.__container_value_selector{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.selector_input{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 .750rem;
}

@media (max-width: 800px) {
  .selector_input{
    margin: 0 0.1rem;
  }
}

.selector_input > span{
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(112, 112, 112);
  border-right: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 0.5rem;
  height: 1.5rem;
}
.selector_input input{
  background-color: white;
  border: 2px solid rgb(112, 112, 112);
  border-left: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 0.5rem;
  height: 1.5rem;
}

.__container_value_selector > strong{
  display: flex;
  justify-content: baseline;
}

.value_selector_inputs{
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
  align-items: center;
}

.value_selector_range{
  width: 100%;
}

.value_selector_input{
  width: 100%;
}
