.__container_value_selector{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.selector_input{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 .750rem;
}

@media (max-width: 800px) {
  .selector_input{
    margin: 0 0.1rem;
  }
}

.__container_value_selector > strong{
  display: flex;
  justify-content: baseline;
}

.selector_input_value{
  width: 100%;
}

.value_selector_inputs{
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  align-items: center;
}

.value_selector_range{
  width: 100%;
}

